# These are automatically bumped by dependabot
ansible==4.3.0
ansible-runner==1.4.7
codecov==2.1.11
docker==5.0.0
jupyterhub==1.4.2
notebook==6.4.0
pre-commit==2.13.0
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==2.12.1
pytest-tornado==0.8.1
